/* Styles spécifiques à la page Sommeil */

.sommeil-card {
    margin-bottom: 10px;
    position: relative;
}

.sommeil-label-container {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.sommeil-label-text {
    color: #3a8dff;
    font-weight: bold;
    font-size: 20px;
}

.sommeil-chart-area {
    border: none !important;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    height: 100%;
}

.sommeil-svg {
    width: 100%;
    height: 100%;
}

.sommeil-chart-label {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.arrow-icon {
    font-size: 20px;
}

.sommeil-card-margin {
    margin-bottom: 10px;
}

.checkmark-style {
    border: 2px solid black;
    padding: 0 4px;
    border-radius: 4px;
}
